
/* line 1 : /Users/jpillora/.grunt-sources/web/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/jpillora/Code/Node/node-load-tester/webui/src/styles/app.styl */
body,
html {
  padding: 30px;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 8 : /Users/jpillora/Code/Node/node-load-tester/webui/src/styles/app.styl */
*,
*:before,
*:after {
  box-sizing: border-box;
}
